<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>


<h2 th:text="${anuncio.titulo}"></h2>
<p>Descripcion: <span th:text="${anuncio.descripcion}"></span><br>
  Precio: <span th:text="${anuncio.precio}"></span><br>

  <!-- Mostrar fotos asociadas -->
<div th:if="${fotos != null && !fotos.isEmpty()}">
  <div class="foto-container">
    <div th:each="foto : ${fotos}"
         class="foto">
      <img th:src="@{'/imagesAnuncios/' + ${foto.nombre}}">
    </div>
  </div>
</div>
<!-- hay fotos pq no me sale el error pero no me las muestra-->
<p th:if="${fotos == null || fotos.isEmpty()}">No hay fotos para este anuncio.</p>

<a th:href="@{/}">Volver al listado</a>



</body>
</html>