<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{header}"></div>
<main>
    <div class="container">
        <h1 class="my-4">Lista de anuncios</h1>

        <form th:action="@{/}" method="get">
            <div class="mb-3">
                <label for="categoriaId" class="form-label">Filtrar por categoría:</label>
                <select id="categoriaId" name="categoriaId" class="form-select" th:value="${param.categoriaId}">
                    <option value="">Seleccione una categoría</option>
                    <th:block th:each="categoria : ${categorias}">
                        <option th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                    </th:block>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>

        <div id="anuncios">
            <p th:if="${#lists.isEmpty(anuncios)}">No hay anuncios.</p>
            <div class="row">
                <div class="col-md-4" th:each="anuncio : ${anuncios}">
                    <div class="card my-3">
                        <img th:src="@{'/imagesAnuncios/' + ${anuncio.getPrimeraFoto().getNombre()}}" class="card-img-top" alt="Imagen del anuncio">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${anuncio.titulo}"></h5>
                            <p class="card-text" th:text="${anuncio.precio} + '€'"></p>
                            <a th:href="'/anuncios/ver/' + ${anuncio.id}" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>Total de artículos: <span th:text="${totalAnuncios}"></span></p>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
